<div class="container mt-4">
    <table class="table table-bordered border-primary table-hover" style="text-align: center;">
        <thead class="table-primary">
            <tr>
                <th>상품</th>
                <th>상품명</th>
                <th>가격</th>
                <th>브랜드</th>
                <% if (cls === 'MNG') { %>
                    <th colspan="2"></th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% if (data.length === 0) { %>
                <tr><td colspan="6">등록된 상품이 없습니다.</td></tr>
            <% } else { %>
                <% for (var i = 0; i < data.length; i++) { %>
                <tr>
                    <td>
                        <a href="/detail/<%= data[i].prod_id %>" style="text-decoration: none;">
                            ![image](/images/<%= data[i].image %>)
                        </a>
                    </td>
                    <td><%= data[i].name %></td>
                    <td><%= data[i].price ? data[i].price.toLocaleString() : 0 %> 원</td>
                    <td><%= data[i].brand %></td>
                    <% if (cls === 'MNG') { %>
                        <td><a href="/product/update/<%= data[i].prod_id %>">수정</a></td>
                        <td><a href="/product/delete/<%= data[i].prod_id %>" onclick="if(confirm('정말로 삭제하시겠습니까?')==false) return false">삭제</a></td>
                    <% } %>
                </tr>
                <% } %>
            <% } %>
        </tbody>
    </table>

    <% if (cls === 'MNG') { %>
        <a href="/product/create"><button class="btn btn-outline-secondary btn-sm">상품추가</button></a>
    <% } %>
</div>
